<!-- index.html-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<title>Fooder</title>
<h1>Fooder (change to logo later) </h1>
<div class="jumbotron">
    <h2>HotDog Bell</h2>
    <p>good quesadillas hot dogs</p>
<img src="https://cdn.cnn.com/cnnnext/dam/assets/171027052520-processed-foods-exlarge-tease.jpg" alt="hotdog">
 <button>yummy</button>
    <button>disgustang</button>
    <button>meh</button>
       <button onclick = "window.location.href = 'https://www.northitaliarestaurant.com/';" >tell me more</button>
  <!--<p class="lead">And I'm glad to be learning so much about it!</p>-->
    <!--<form action="/action_page.php" method="get">-->
  <!--Restaurant Name: <input type="text" name="fname"><br>-->
  <!--Location: <input type="text" name="lname"><br>-->
  <!--<input type="submit" value="Submit">-->
<!--</form>-->

    <!--<button onclick = "window.location.href = 'https://www.northitaliarestaurant.com/';" >Click me</button>-->
  <!--<h2> Hot Doggery Dogs </h2>-->

</div>
{% endblock %}f