<!-- about.html-->

<!DOCTYPE html>
<html lang="en">
  <head>
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" style="font-family: Raleway;"><a href="/swipe">Swipe</a></li>
            <li role="presentation" style="font-family: Raleway;"><a href="/about">About</a></li>
            <li role="presentation" style="font-family: Raleway;"><a href="/preferences">My Preferences</a></li>
            <li role="presentation" style="font-family: Raleway;"><a href="/restaurant">My Restaurant</a></li>
            <li role="presentation" style="font-family: Raleway;"><a href="/">Log out</a></li>
          </ul>
        </nav>
      </div>
      {% block body %}
      <div class="jumbotron">
        <h1 style="font-family: Raleway;"><img src="https://cdn.discordapp.com/attachments/538763915304370178/539076374913351680/Logo.png" alt="Logo" height="70" width="70">About Fooder</h1>
          <p class="lead" style="font-family: Raleway;"><p class="lead"><font face="Raleway, sans-serif">Fooder is a webapp utilizing the popularized format of tinder. Designed and created by four Aggies for TAMUHack, we proudly support local small businesses by allowing any restaurants to freely advertise their products with feedback from foodies like you. Thank you!</font></p></p>
      </div>
      {% endblock %}
      <footer class="footer">
        <p>© 2019 Aggies</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>