<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
    <title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" style="font-family: Raleway;"><a href="/">Home</a></li>
            <li role="presentation" style="font-family: Raleway;"><a href="/signIn">Sign-in/Sign-up</a></li>
            <li role="presentation" style="font-family: Raleway;"><a href="/homeAbout">About</a></li>
          </ul>
        </nav>
      </div>
      {% block body %}
      {% endblock %}
      <footer class="footer">
        <p>© 2019 Aggies</p>
      </footer>
    </div> <!-- /container -->
  </body>
</html>