{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
img {
  position: absolute;
  left: 0px;
  z-index: -1:
}
</style>
<body>
<img src="https://cdn.discordapp.com/attachments/538763915304370178/539052215499751425/bg2.png">
<style>
  img{
  position: relative
  bottom: 10000px
  z-index: 1;
  }
</style>
<img src="https://media.discordapp.net/attachments/538763915304370178/539042117603950621/FOODER3.png?width=1200&height=267" height="130" width="600">



<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">


  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
  </div>
</div>

</body>
</html>

{% endblock %}f