{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1 style="font-family: Raleway;">About Fooder</h1>
  <p class="lead" style="font-family: Raleway;"><p class="lead">Fooder is a webapp utilizing the popularized format of tinder. Designed and created by four Aggies for TAMUHack, we proudly support local small businesses by allowing any restaurants to freely advertise their products with feedback from users like you. Thank you! '</p></p>
</div>
{% endblock %}