{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
img {
  position: absolute;
  left: 0px;
  z-index: -1:
}
</style>
<body>
<img src="https://scontent.fftw1-1.fna.fbcdn.net/v/t1.0-9/50766508_2239921832915410_6594547194924105728_o.jpg?_nc_cat=102&_nc_ht=scontent.fftw1-1.fna&oh=84b251f17584eabc83b636d1690c66b0&oe=5CC4B7FA">
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Logo
  </div>

  <div class="w3-display-bottomleft w3-padding-large">
    Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
  </div>
</div>

</body>
</html>

{% endblock %}f