{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1 style="font-family: Raleway;"><img src="https://cdn.discordapp.com/attachments/538763915304370178/539076374913351680/Logo.png" alt="Logo" height="70" width="70">About Fooder</h1>
  <p class="lead" style="font-family: Raleway;"><p class="lead">Fooder is a webapp utilizing the popularized format of tinder. Designed and created by four Aggies for TAMUHack, we proudly support local small businesses by allowing any restaurants to freely advertise their products with feedback from foodies like you. Thank you!</p></p>
</div>
{% endblock %}