

{% extends "loggedIn.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
  <title>My Preferences</title>
</head>

<body>
  <div class="jumbotron">
    <h1>My Preferences</h1>
  </div>

  <div>
    <p>Enter your food preferences here:</p>
    <form action="/action_page.php" method="get">
      <input type="checkbox" name="foodstyle" value="italian"> Italian<br>
      <input type="checkbox" name="foodstyle" value="chinese"> Chinese<br>
      <input type="checkbox" name="foodstyle" value="thai"> Thai<br>
      <input type="checkbox" name="foodstyle" value="indian"> Indian<br>
      <input type="checkbox" name="foodstyle" value="american"> American<br>
      <input type="checkbox" name="foodstyle" value="mexican"> Mexican<br>
      <input type="checkbox" name="foodstyle" value="japanese"> Japanese<br>
      <input type="submit" value="Submit">
    </form>
  </div>

 <div>
   <p> </p>
    <p>Enter your price range here:</p>
    <form action="/action_page.php" method="get">
      <input type="checkbox" name="price" value="less10"> < $10<br>
      <input type="checkbox" name="price" value="10to20"> $10 - %20<br>
      <input type="checkbox" name="price" value="20to30"> $20 - $30<br>
      <input type="checkbox" name="price" value="30to40"> $30 - $40<br>
      <input type="checkbox" name="price" value="40to50"> $40 - $50<br>
      <input type="checkbox" name="price" value="more50"> > $50<br>
      <input type="submit" value="Submit">
    </form>
  </div>

<div>
  <p> </p>
    <p>Breakfast Lunch or Dinner?</p>
    <form action="/action_page.php" method="get">
      <input type="checkbox" name="bld" value="breakfast"> Breakfast<br>
      <input type="checkbox" name="bld" value="lunch"> Lunch<br>
      <input type="checkbox" name="bld" value="dinner"> Dinner<br>
      <input type="submit" value="Submit">
    </form>
  </div>

<div>
    <p>Enter your distance here:</p>
    <form action="/action_page.php" method="get">
      <input type="checkbox" name="distance" value="less5mi"> < 5 miles<br>
      <input type="checkbox" name="distance" value="5to10mi"> 5 - 10 miles<br>
      <input type="checkbox" name="distance" value="10to15mi"> 10 - 15 miles<br>
      <input type="checkbox" name="distance" value="15to20mi"> 15 - 20 miles<br>
      <input type="checkbox" name="distance" value="more20mi"> > 20 miles<br>
      <input type="submit" value="Submit">
    </form>
  </div>

</body>
</html>
{% endblock %}