{% extends "loggedIn.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />
  <title style="font-family: Raleway;">My Restaurant</title>
</head>

<body>
  <div class="jumbotron">
    <h1 style="font-family: Raleway;">My Restaurant</h1>
  </div>

 <div>
     <p> </p>
    <p style="font-family: Raleway;">Enter the name of your restaurant here:</p>
    <form action="/action_page.php" method="get">
      <input type="text" name="restaurant_name" style="font-family: Raleway;" placeholder="Restaurant name" required>
        <input type="submit" onclick="clickGo()" value="Enter" style="font-family: Raleway;">
    </form>
  </div>

<div>
    <p> </p>
    <p style="font-family: Raleway;">Enter the location of your restaurant here:</p>
    <form action="/action_page.php" method="get">
      <input type="text" name="location_rest" style="font-family: Raleway;" placeholder="Location" required>
        <input type="submit" onclick="clickGo()" value="Enter" style="font-family: Raleway;">
    </form>
  </div>

 <div>
    <p style="font-family: Raleway;">What type of food does your restaurant serve?:</p>
    <form action="/action_page.php" method="get">
      <input type="checkbox" name="foodstyle" value="italian"> Italian<br>
      <input type="checkbox" name="foodstyle" value="chinese"> Chinese<br>
      <input type="checkbox" name="foodstyle" value="thai"> Thai<br>
      <input type="checkbox" name="foodstyle" value="indian"> Indian<br>
      <input type="checkbox" name="foodstyle" value="american"> American<br>
      <input type="checkbox" name="foodstyle" value="mexican"> Mexican<br>
      <input type="checkbox" name="foodstyle" value="japanese"> Japanese<br>
      <input type="submit" value="Submit" style="font-family: Raleway;">
    </form>
  </div>

<div>
    <p> </p>
    <p style="font-family: Raleway;">Enter the average price of your restaurant here:</p>
   <form action="/action_page.php" method="get">
      <input type="checkbox" name="price" value="less10"> < $10<br>
      <input type="checkbox" name="price" value="10to20"> $10 - $20<br>
      <input type="checkbox" name="price" value="20to30"> $20 - $30<br>
      <input type="checkbox" name="price" value="30to40"> $30 - $40<br>
      <input type="checkbox" name="price" value="40to50"> $40 - $50<br>
      <input type="checkbox" name="price" value="more50"> > $50<br>
      <input type="submit" value="Submit" style="font-family: Raleway;">
    </form>
  </div>

<div>
    <p> </p>
    <p style="font-family: Raleway;">Delivery?</p>
    <form>
        <input type="radio" name="deliver" value="yes" checked> Yes<br>
        <input type="radio" name="deliver" value="no"> No
    </form>
</div>

<div>
    <p> </p>
    <p style="font-family: Raleway;">Takeout?</p>
    <form>
        <input type="radio" name="takeout" value="yes" checked> Yes<br>
        <input type="radio" name="takeout" value="no"> No
    </form>
</div>

<div>
    <p > </p>
    <p style="font-family: Raleway;">Do you accept credit card?</p>
    <form>
        <input type="radio" name="payment" value="yes" checked> Yes<br>
        <input type="radio" name="payment" value="no"> No
    </form>
</div>

  <div>
      <p> </p>
      <p style="font-family: Raleway;">Add any photos here</p>
<form action="/action_page.php">
  <input type="file" name="pic" accept="image/*">
  <input type="submit" style="font-family: Raleway;">
</form>
</div>

</body>
</html>
{% endblock %}